{
  "type": "GridLayout",
  "numberOfColumns": 4,
  "width": 3,
  "elements": [
    {
      "type": "TabLayout",
      "options": {
        "fixedPosition": true,
        "scrollableTabs": true
      },
      "displayBottomNavigation": false,
      "elementId": "TabLayout",
      "elements": [
        {
          "type": "Tab",
          "elementId": "all-fields",
          "title": "Agent Information",
          "elements": {{{content}}}
        }
      ]
    }
  ]
}